.col-btn-home-icon {

        
    .cont-btn-home-icon {
        background-color: #009688;
        padding: 20px;
        text-align: center;
        a {
            color: #fff;

        }
     }
 
}
