.cont-login {
    margin: 10% 0;
    .cont-login-logo {
        background-color: $primary_color;
        .cont-text {
        margin-top: -14px;
        top: 50%;
        position: relative;
        text-align: center;
         h5 {
             color: #ffff;
         }
         p {
             color: #fff;
         }
        }
    }

    .cont-login-form {
        padding: 20% 0;
        max-width: 400px;
        input {
            border-radius: 2px;
        }
        button {
            padding: 10px 20px;
            border-radius: 2px;
            border: none;
        }
        .btn-entrar {
            background-color: $secondary_color;
        }
    }
}