.cont-login {
    margin: 10% 0;
    .cont-login-logo {
        background-color: $primary_color;
        .cont-text {
        margin-top: -50px;
        top: 50%;
        position: relative;
        text-align: center;
         h5 {
             color: #ffff;
         }
         p {
             color: #fff;
         }
         .cont-btn-in-cont-logo {
             button {
                 background-color: #fff;
                 color: #444;
                 border: none;
                 box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
             } 
         }
        }
    }

    .cont-login-form {
        padding: 20% 0;
        max-width: 400px;
        input {
            border-radius: 2px;
        }
        button {
            padding: 10px 20px;
            border-radius: 2px;
            border: none;
        }
        .btn-entrar {
            background-color: $secondary_color;
        }
    }
}